@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #faf0e6; /* Couleur beige */
}
/* Ajout des transitions générales */
button {
  transition: all 0.3s ease;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

button:active {
  transform: scale(0.95);
}

.modal-enter {
  animation: fadeIn 0.3s ease-in-out forwards;
}

.modal-exit {
  animation: fadeOut 0.3s ease-in-out forwards;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
